<div class="main-div">
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>John</mat-card-title>
      <mat-card-subtitle>Silent4Business</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://myfirstshiba.com/wp-content/uploads/2017/11/gif_test_kenji_cheeks.gif"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Hello world!
      </p>
    </mat-card-content>
  </mat-card>
</div>
